/* Style général de la fenêtre */
.root {
    -fx-background-color: #f4f4f4; /* Couleur de fond gris clair */
}

/* Style du TableView */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #3498db;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.table-view .column-header-background {
    -fx-background-color: #3498db;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Style des lignes du tableau */
.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: #ddd;
    -fx-border-width: 0 0 1 0;
}

.table-row-cell:odd {
    -fx-background-color: #ecf0f1; /* Gris clair */
}

.table-row-cell:selected {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
}

/* Style des boutons */
.button {
    -fx-background-color: #2ecc71; /* Vert */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 15px;
    -fx-border-radius: 5px;
    -fx-border-color: #27ae60;
}

.button:hover {
    -fx-background-color: #27ae60; /* Vert foncé */
}

.button:pressed {
    -fx-background-color: #1e8449;
}

/* Style spécifique pour le bouton "Supprimer" */
#btnSupprimer {
    -fx-background-color: #e74c3c; /* Rouge */
    -fx-border-color: #c0392b;
}

#btnSupprimer:hover {
    -fx-background-color: #c0392b;
}

#btnSupprimer:pressed {
    -fx-background-color: #a93226;
}
/* Style des champs de texte et des mots de passe */
.auth-field {
    -fx-background-color: #ecf0f1; /* Gris clair */
    -fx-border-color: #3498db;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

/* Style du bouton */
.auth-button {
    -fx-background-color: #2ecc71; /* Vert */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 15px;
    -fx-border-radius: 5px;
    -fx-border-color: #27ae60;
}

.auth-button:hover {
    -fx-background-color: #27ae60; /* Vert foncé */
}

.auth-button:pressed {
    -fx-background-color: #1e8449;
}
